[submodule "chef-cookbooks"]
	path = chef-cookbooks
	url = git@github.com:rcbops/chef-cookbooks.git
[submodule "chef-server"]
	path = chef-server
	url = git@github.com:opscode-cookbooks/chef-server.git
[submodule "chef-solo/chef-server"]
	path = chef-solo/chef-server
	url = git@github.com:opscode-cookbooks/chef-server.git
